.detailMovie {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 112px;
    @media screen and(min-width: 769px) {
    padding-top: 167px;        
    }

    .custom_bg {
        content: '';
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        .degrade {
            background-color: #382161;
            @media screen and(min-width: 769px) {
                background-color: transparent;
                background-image: radial-gradient(circle at 20% 50%, rgba(21.96%, 12.94%, 38.04%, 0.98) 0%, rgba(21.96%, 12.94%, 38.04%, 0.88) 100%);
            }
            .onlyMobile {
                img {
                    position: relative;
                    top: 0;
                    width: 100%;
                    height: 56vw;
                    border-radius: 0;
                }
                @media screen and(min-width: 769px) {
                    display: none;
                }
            }
        }


        .containerMain {
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 40px 0;
            @media screen and(min-width: 769px) {
                padding: 40px 0;
            }

            @media screen and(min-width: 1024px) {
                width: 1000px;
                margin: 0 auto;
                padding: 40px 0;
            }
            section {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                @media screen and(min-width: 769px) {
                    flex-wrap: nowrap;
                }

                .poster {
                    position: relative;
                    width: 120px;
                    margin-left: 20px;
                    z-index: 4;
                    display: inline-block;
                    padding: 1px;
                    margin-top: -74px;
                    @media screen and(min-width: 769px) {
                        height: 450px;
                        bottom: 0;
                        top: 0;
                        width: 300px;
                        margin-top: 0;
                        margin-left: 20px;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0 0 4px rgba(0,0,0,0.2);
                        border-radius: 4px;
                        max-height: 450px;
                    }
                }

                .header_poster_wrapper {
                    display: inline-block;
                    width: 100%;
                    color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    @media screen and(min-width: 769px) {
                        padding-left: 40px;
                        padding-right: 0px;
                        width: 700px;
                    }

                    .bgMobile {
                        @media screen and(max-width: 768px) {
                            margin-left: -20px;
                            margin-right: -20px;
                            background-color: rgba(0,0,0,0.6);
                            margin-top: -107px;
                            padding-bottom: 20px;
                        }
                    }

                    .title {
                        width: 100%;
                        margin-bottom: 58px;
                        @media screen and(max-width: 768px) {
                            display: block;
                            justify-content: center;
                            padding-top: 20px;
                            padding-left: 155px;
                        }

                        @media screen and(min-width: 769px) {
                            margin-bottom: 30px;
                        }
                        h2 {
                            margin: 0;
                            padding: 0;
                            font-size: 22px;
                            line-height: 1.1em;
                            font-weight: 700;
                            display: inline-block;
                            @media screen and(min-width: 769px) {
                                font-size: 2.4em;
                            }
                            span {
                                opacity: 0.6;
                                font-size: 0.8em;
                                font-weight: 400;
                                display: table;
                                @media screen and(min-width: 769px) {
                                    font-size: 27px;
                                    padding-left: 5px;
                                    display: inline;
                                }
                            }
                        }
                    }
                    .actions {
                        display: flex;
                        width: 100%;
                        align-items: center;

                        @media screen and(max-width: 768px) {
                            justify-content: space-between;
                            padding-left: 20px;
                        }
                        li {
                            margin-right: 20px;
                            @media screen and(max-width: 768px) {
                                &.hidden-mobile {
                                    display: none;
                                }
                            }
                        }
                        .boxPercent {
                            display: inline-flex;
                            .textAval {
                                width: 80px;
                                padding-left: 10px;
                                font-size: 14px;
                                @media screen and(max-width: 768px) {
                                    width: 102px;
                                    font-size: 16px;
                                    padding-top: 10px;
                                }
                            }
                        }
                        .percent {
                            font-size: 18px;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background: #000;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .radius {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            color: #fff;
                            display: flex;
                            border: solid 2px #fff;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #000;
                                background: #fff;
                            }
                        }
                        .text {
                            color: #fff;
                            font-size: 14px;
                            span {
                                margin-right: 5px;
                            }
                        }
                    }
                    .header_info {
                        h3 {
                            width: 100%;
                            display: block;
                            padding-bottom: 10px;
                            font-weight: 600;
                            line-height: 1.3em;
                            font-size: 1.3em;
                            padding-top: 30px;
                        }
                        .overview {
                            display: inline-block;
                            width: 100%;
                            p {
                                font-size: 1em;
                                line-height: 1.4em;
                                font-weight: normal;
                            }
                        }
                        .peoples {
                            display: flex;
                            align-content: flex-start;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            li {
                                width: 33%;
                                padding-bottom: 20px;
                                .name {
                                    font-weight: 600;
                                    padding-bottom: 5px;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}