.detailMovie {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 167px;

    .custom_bg {
        content: '';
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        .degrade {
            background-image: radial-gradient(circle at 20% 50%, rgba(21.96%, 12.94%, 38.04%, 0.98) 0%, rgba(21.96%, 12.94%, 38.04%, 0.88) 100%);
        }


        .containerMain {
            position: relative;
            display: block;
            width: 100%;
            padding: 40px 0;

            @media screen and(min-width: 1024px) {
                width: 1000px;
                margin: 0 auto;
                padding: 40px 0;
            }
            section {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                @media screen and(min-width: 769px) {
                    flex-wrap: nowrap;
                }

                .poster {
                    height: 450px;

                    img {
                        display: block;
                        width: 300px;
                        height: 450px;
                        box-shadow: 0 0 4px rgba(0,0,0,0.2);
                        border-radius: 4px;
                    }
                }

                .header_poster_wrapper {
                    display: inline-block;
                    width: 700px;
                    color: #fff;
                    padding-left: 40px;

                    .title {
                        width: 100%;
                        margin-bottom: 30px;
                        h2 {
                            margin: 0;
                            padding: 0;
                            font-size: 2.4em;
                            line-height: 1.1em;
                            font-weight: 700;
                            display: inline-block;
                            span {
                                padding-left: 5px;
                                opacity: 0.6;
                                font-size: 27px;
                                font-weight: 400;
                            }
                        }
                    }
                    .actions {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        li {
                            margin-right: 20px;
                        }
                        .boxPercent {
                            display: inline-flex;
                            .textAval {
                                width: 80px;
                                padding-left: 10px;
                                font-size: 14px;
                            }
                        }
                        .percent {
                            font-size: 18px;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background: #000;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .radius {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            color: #fff;
                            display: flex;
                            border: solid 2px #fff;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #000;
                                background: #fff;
                            }
                        }
                        .text {
                            color: #fff;
                            font-size: 14px;
                            span {
                                margin-right: 5px;
                            }
                        }
                    }
                    .header_info {
                        h3 {
                            width: 100%;
                            display: block;
                            padding-bottom: 10px;
                            font-weight: 600;
                            line-height: 1.3em;
                            font-size: 1.3em;
                            padding-top: 30px;
                        }
                        .overview {
                            display: inline-block;
                            width: 100%;
                            p {
                                font-size: 1em;
                                line-height: 1.4em;
                                font-weight: normal;
                            }
                        }
                        .peoples {
                            display: flex;
                            align-content: flex-start;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            li {
                                width: 33%;
                                padding-bottom: 20px;
                                .name {
                                    font-weight: 600;
                                    padding-bottom: 5px;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}