.footer {

    background: linear-gradient(to top right, #2455a9, #00d573);
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    
    @media screen and(min-width: 769px) {

        background-image: url('https://www.themoviedb.org/static_cache/v4/footers_v2/MrRobot-b40ea33e538ff2a92acf477a0de603681597455c74e27ccb00d9001cb08b2f72.jpg');
        height: 450px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
    }

    nav {
        
        display: inline-block;
        padding: 0 20px;

        div {
            padding-top: 30px;
        }
        
        @media screen and(min-width: 769px) {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media screen and(min-width: 1024px) {
            padding: 0;
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        h3 {
            font-weight: bold;
            font-size: 1.4em;
            line-height: 1.4em;
            text-transform: uppercase;
            color: #fff;
            white-space: nowrap;
            @media screen and(min-width: 769px) {
                font-size: 1.2em;
            }
            @media screen and(min-width: 1024px) {
                font-size: 1.4em;
            }
        }
        ul {
            li {
                line-height: 1.6em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.2em;
                @media screen and(min-width: 769px) {
                    font-size: 12px;
                }
                @media screen and(min-width: 1024px) {
                    font-size: 16px;
                }
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .join {
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 20px;
                @media screen and(min-width: 769px) {
                    text-align: right;
                    padding-bottom: 0;
                }
                
            img {
                display: none;
                @media screen and(min-width: 769px) {
                    position: absolute;
                    display: inline;
                    top: 0;
                    right: 0;
                    width:130px;
                    height:116px;
                }
            }

            .rounded {
                font-size: 18px;
                border-color: #fff;
                background-color: #fff;
                color: #01d277;
                font-weight: bold;
                position: relative;
                word-wrap: break-word;
                white-space: normal;
                border: 2px solid #fff;
                border-radius: 5px;
                padding: 8px 16px;
                @media screen and(min-width: 769px) {
                    display: inline-block;
                    top: 140px;
                }
            }
        }
    }
}