.cont-header {

    @keyframes resizeToRegularHeader{from{height:64px}to{height:121px}}
    @keyframes resizeToSmallHeader{from{height:121px}to{height:64px}}

    header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #081c24;
        width: 100%;
        z-index: 999;

        > .content {
            height: 121px;
            width: 100%;
            padding-left:15px;
            padding-right:15px;
            display: flex;
            align-items: center;
            will-change: height;
            @media screen and(min-width: 1024px) {
                width: 1000px;
                margin: 0 auto;
            }
        }
        &.regular > .content {
            animation: resizeToRegularHeader 0.2s linear;
            height: 121px;
        }
        &.smaller > .content {
            animation: resizeToSmallHeader 0.2s linear;
            height: 64px;
        }
        &.smaller {
            li.logo {
                img {
                    width: 45px;
                    height: 40px;
                }
            }
            ul.small {
                opacity: 0;
            }
        }

        .sub_media {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;

            div.left {
                max-width: 60%;
            }
            div.right {
                max-width: 40%;
            }
        }

        .logo .title { display: none;}
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        a {
            font-weight: 600;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
        .small {
            a {
                color: #868e91;
            }
        }
    }

    ul {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        font-size: 1em;
        height: 85px;
        justify-content: flex-end;
        &.small {
            display: inline-flex;
            height: auto;
            position: absolute;
            font-size: 0.75em;
            transition: opacity 1s ease;

            &.right {
                top: 0px;
                right: 0;
            }
        }

        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            &.logo {
                position: relative;
                transition: 0.2s linear;

                img {
                    display: block;
                    transition: 0.2s linear;
                    will-change: height, width;
                }
            }
        }
    }

  

}


